.button {
    padding: 1rem .5rem;
    border-radius: 10rem;
    color: $gray;
    background-color: $steelblue;
    display: inline;
    margin-right: 0rem; 
    font-family: $ubuntu;
    font-weight: $medium;   
    &:hover {
        background-color: $gray;
        color: $white;
    }
    
    &:focus {
        border: 1px;
        border-color: $light-gray;
    }

}  
@media (min-width: 420px) {
    .button {
        padding: 1rem;
        margin-right: 1rem;
    }
}