
//First Color Scheme
$coral: coral;
$white: white;
$light-gray: #f2f4f5;

//Second Color Scheme
$steelblue: steelblue; 
$gray: gray;

//Font Family
$ubuntu: "Ubuntu Mono";
$roboto: "Roboto";

//Font Weight
$black: 900;
$regular: 400;
$light: 300;

//Font Sizes
$xx-large: 2.5rem;
$x-large: 2em;
$large: 1.8em;
$medium: 1.3em;
$small: 0.8em;